@import url("https://fonts.googleapis.com/css2?family=Genos&display=swap"); // header
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); // main/body

$bot-dark-blue: #0c4d63;
$bot-blue: #1fbcf0;
$bot-light-blue: #91daf3;

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.bot-header {
    font-size: 4rem;
    font-family: "Genos", sans-serif;
    color: $bot-blue;
    display: flex;
    align-items: center;
}

.bot-icon {
    color: $bot-blue;
}

.btn-locked {
    min-width: 35px;
}

.edit-row {
    line-height: 0;
}

.color-button-group {
    height: 20px;
}

.suggestion-bubble {
    border-radius: 10px 10px 10px 0;
    border-style: solid;
    border-color: $bot-blue;
    width: 100%;
}

.btn-suggest {
    color: $bot-dark-blue !important;
}

.error-text {
    color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 50px;
    background-color: $bot-light-blue;
    font-size: 0.8rem;
}

.footer-name {
    font-style: italic;
}

.btn-suggestion-autofill {
    font-size: 0.5rem;
}

// Super small devices (400-576px)
@media (min-width: 400px) {
    .suggestion-bubble {
        width: 75%;
    }

    .footer-name {
        padding-left: 1rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .suggestion-bubble {
        width: 50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .suggestion-bubble {
        width: 30%;
    }

    .footer-name {
        padding-left: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .suggestion-bubble {
        width: 25%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .suggestion-bubble {
        width: 20%;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .suggestion-bubble {
        width: 20%;
    }
}
