@import url("https://fonts.googleapis.com/css2?family=Genos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.bot-header {
  font-size: 4rem;
  font-family: "Genos", sans-serif;
  color: #1fbcf0;
  display: flex;
  align-items: center;
}

.bot-icon {
  color: #1fbcf0;
}

.guess-card {
  border-color: #1fbcf0;
  background-color: #1fbcf0;
}

.edit-row {
  line-height: 0;
}

.color-button-group {
  height: 20px;
}